<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Game</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" />
    
</head>
<body>


{{ username }} your scored is {{ q_index }}out of ten 

<p>thank you for playing</p>
<p>Play again</p>

</body>
</html>