<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Riddle game</title>
    
   <link rel="stylesheet" href="../css/style.css" type="text/css" />
    
</head>
<body>
    
    
    
 
            <div class="container">
                <h1 class="title">Riddle Game </h1>
                <h2 class="sub">Please enter a username </h2>
                
                <div>
                    <!-- User name enter -->
                    <form method="POST">
                        <input type="text" id="username" name="username">
                        <button class="botton">Go </button>
                    </form>
                </div>
            </div>
        
        
            <div class="container">
                <div>
                    <h2>Leaderboard</h2>
                    <a></a>
                </div>
            </div> 
    
    
</body>
</html>