<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Game</title>
    
   <link rel="stylesheet" href="../css/style.css" type="text/css" />
    
</head>
<body>
    
    
    <div class="main">
        <div class="overlay">
            <div class="container">
                <h1 class="title">Riddle Game </h1>
                <h2>Welcome, {{ username }}</h2>
                
    </div>
        

{% for questions in question_data %}

<h3>{{ questions.name}}</h3>
<p>{{ questions.question}} <input type="text" class="form-control" placeholder="Answer" name="answer" id="answer"> </p>
{% endfor %}
        

    
    
</body>
</html>